.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(241, 243, 244, 0.2), 0 6px 20px 0 rgba(246, 241, 241, 0.19);
    gap: 20px;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* background-color: #632222; */
    width: 96%;
    margin-left: 2%;
    height: 40px;
    justify-content: flex-start;
}

.inputContainer >h5 {
    width: 40%;
    text-align: left;
    /* background-color: red; */
    margin-left: 20%;
    vertical-align:text-top;
    color:rgb(253, 253, 253);

}

.inputContainer>input {
    width: 30%;
    text-align: left;
    /* background-color: red; */
    /* margin-left: 20%; */
    vertical-align: text-top;
    color: rgb(11, 10, 10);
    border-radius: 10px;
    text-decoration: bold;
    font-size: small;

}