.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 0 0;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0d76fc;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 3rem 0;
  line-height: 1;
  font-size: 2.5rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 0 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0d76fc;
  border-color: #0d76fc;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.2rem;
}

.card p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.navigation {
  display: flex;
  margin-left: 1%;
  margin-top: 2%;
  width: 98%;
  box-shadow: 0 4px 8px 0 rgba(241, 243, 244, 0.2),
    0 6px 20px 0 rgba(246, 241, 241, 0.19);
  height: 10vh;
  border-radius: 10px;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.wallet {
  margin-right: 10px;
}

.group {
  display: flex;
  margin-left: 1%;
  margin-top: 10px;
  width: 98%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 10px;
  flex-direction: column;
  align-items: center;
}

.createGroup {
}

.modal {
  box-shadow: 0 4px 8px 0 rgba(241, 243, 244, 0.2),
    0 6px 20px 0 rgba(246, 241, 241, 0.19);
  color: white;
  border-radius: 1px solid;
  margin: auto;
  width: 50%;
  padding: 3rem;
  margin-top: 3rem;
}
