.proposalItemContainer {
  background-color: rgb(0, 0, 0);
  box-shadow: 0 4px 8px 0 rgba(241, 243, 244, 0.2),
    0 6px 20px 0 rgba(246, 241, 241, 0.19);
  padding: 10px;
  margin: 2%;
  border-radius: 10px;
  width: 96%;
  color: white;
}

.proposalItemContainer > button {
  width: 100px;
  height: 50px;
  margin: 20px;
}

.purposeContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: white;
}

.approveButtonContainer {
  width: 100%;
  height: 50px;
  /* background-color: aqua; */
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.approveButtonContainer button {
  width: 200px;
  margin: 10px;
  height: 40px;
  color: white;
  font-size: medium;
}

.sliderContainer {
  /* background-color: rgb(24, 227, 227); */
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  /* margin: 10%; */
}

.inputApproval {
  height: 40px;
  margin-right: 10px;
  width: 20%;
  border-radius: 10px;
}
